version: "3"

networks:
  frontend:
    driver: ${NETWORKS_DRIVER}
  backend:
    driver: ${NETWORKS_DRIVER}
  #combination of the COMPOSE_PROJECT_NAME or the source path folder and the network name
  msuwv_backend:
    external: true
  mshrapi_backend:
    external: true

volumes:
  mariadb:
    driver: ${VOLUMES_DRIVER}
  mariadb_data:
    external: true

services:
  ### Workspace Utilities ##################################
  workspace:
    image: registry.gitlab.com/mijnsubsidie/ms-partner/workspace
    volumes:
      - ${APP_CODE_PATH_HOST}:${APP_CODE_PATH_CONTAINER}
    extra_hosts:
      - "dockerhost:${DOCKER_HOST_IP}"
    ports:
      - "${WORKSPACE_SSH_PORT}:22"
    tty: true
    environment:
      - PHP_IDE_CONFIG=${PHP_IDE_CONFIG}
      - DOCKER_HOST=tcp://docker-in-docker:2375
    networks:
      - frontend
      - backend
      - mshrapi_backend
    links:
      - docker-in-docker
    external_links:
      - ms-hrapi_ms-hrapi_1
    # restart: always

  ### PHP-FPM ##############################################
  php-fpm:
    image: registry.gitlab.com/mijnsubsidie/ms-partner/php-fpm
    volumes:
      - ./php-fpm/php${PHP_VERSION}.ini:/usr/local/etc/php/php.ini
      - ${APP_CODE_PATH_HOST}:${APP_CODE_PATH_CONTAINER}
    expose:
      - "9000"
    extra_hosts:
      - "dockerhost:${DOCKER_HOST_IP}"
    environment:
      - PHP_IDE_CONFIG=${PHP_IDE_CONFIG}
      - DOCKER_HOST=tcp://docker-in-docker:2375
      - FAKETIME=${PHP_FPM_FAKETIME}
    depends_on:
      - workspace
    networks:
      - backend
      - msuwv_backend
      - mshrapi_backend
    links:
      - docker-in-docker
    external_links:
      - ms-uwv_ms-uwv_1
      - ms-hrapi_ms-hrapi_1
    # restart: always

  ### PHP Worker ############################################
  php-worker:
    image: registry.gitlab.com/mijnsubsidie/ms-partner/php-worker
    volumes:
      - ${APP_CODE_PATH_HOST}:${APP_CODE_PATH_CONTAINER}
      - ./php-worker/supervisord.d:/etc/supervisord.d
    depends_on:
      - workspace
    extra_hosts:
      - "dockerhost:${DOCKER_HOST_IP}"
    networks:
      - backend
      - mshrapi_backend
    external_links:
      - ms-hrapi_ms-hrapi_1
    # restart: always

  ### Apache Server ########################################
  apache2:
    image: registry.gitlab.com/mijnsubsidie/ms-partner/apache2
    volumes:
      - ${APP_CODE_PATH_HOST}:${APP_CODE_PATH_CONTAINER}
      - ${APACHE_HOST_LOG_PATH}:/var/log/apache2
      - ${APACHE_SITES_PATH}:/etc/apache2/sites-available
      - ./data/certbot/certs/:/var/certs
      - ./certbot/letsencrypt/.well-known:/var/www/public_html/.well-known
    ports:
      - "${APACHE_HOST_HTTP_PORT}:80"
      - "${APACHE_HOST_HTTPS_PORT}:443"
    depends_on:
      - php-fpm
    networks:
      - frontend
      - backend
    # restart: always

  ### MariaDB ##############################################
  mariadb:
    image: registry.gitlab.com/mijnsubsidie/ms-partner/mariadb
    #make sure the port is not open in production
    ports:
      - "${MARIADB_PORT}:3306"
    environment:
      - MYSQL_DATABASE=${MARIADB_DATABASE}
      - MYSQL_USER=${MARIADB_USER}
      - MYSQL_PASSWORD=${MARIADB_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${MARIADB_ROOT_PASSWORD}
    volumes:
      - mariadb_data:/var/lib/mysql
      - ${MARIADB_ENTRYPOINT_INITDB}:/docker-entrypoint-initdb.d
    networks:
      backend:
        aliases:
          - laradock_mariadb
    # restart: always

  ### Beanstalkd ###########################################
  beanstalkd:
    image: registry.gitlab.com/mijnsubsidie/ms-partner/beanstalkd
    ports:
      - "${BEANSTALKD_HOST_PORT}:11300"
    privileged: true
    depends_on:
      - php-fpm
    networks:
      - backend
      - mshrapi_backend
    external_links:
      - ms-hrapi_ms-hrapi_1
    # restart: always

    ### Docker-in-Docker ################################################
  docker-in-docker:
    image: docker:dind
    privileged: true
    volumes:
      - ${APP_CODE_PATH_HOST}:${APP_CODE_PATH_CONTAINER}
    expose:
      - 2375
    networks:
      - backend
    # restart: always
  #Only in test enviroment
  ## Certbot #########################################
  certbot:
    build:
      context: ./certbot
    volumes:
      - ./data/certbot/certs/:/var/certs
      - ./certbot/letsencrypt/.well-known:/var/www/public_html/.well-known
    environment:
      - CN1=${HOST_SERVER1}
      - EMAIL=${HOST_MAIL}
      # - CN2=${HOST_SERVER2}
    networks:
      - frontend

  ### NetData ################################################
  netdata:
    image: titpetric/netdata:latest
    cap_add:
      - SYS_PTRACE
    volumes:
      - /:/host:ro
    ports:
      - "${NETDATA_PORT}:19999"
    networks:
      - backend
    # restart: always

    ### Beanstalkd Console ###################################
  beanstalkd-console:
    image: registry.gitlab.com/mijnsubsidie/ms-partner/beanstalkd-console
    ports:
      - "${BEANSTALKD_CONSOLE_HOST_PORT}:2080"
    depends_on:
      - beanstalkd
    networks:
      - backend
